<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418902185734-9o7f9v6qi443qm7mv1tpfog32s2842tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418902185734-9o7f9v6qi443qm7mv1tpfog32s2842tn</string>
	<key>API_KEY</key>
	<string>AIzaSyDqeVTtPkm4qTWCNj_vraawGWw8VzGnWq4</string>
	<key>GCM_SENDER_ID</key>
	<string>418902185734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ash.hello-world</string>
	<key>PROJECT_ID</key>
	<string>arrealestate-swift</string>
	<key>STORAGE_BUCKET</key>
	<string>arrealestate-swift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418902185734:ios:9a8eb795c5415b6d3eb087</string>
</dict>
</plist>